.card {
  width: 20rem;
  height: 10rem;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 50rem;
  max-height: 50rem;
  border-top: 1rem solid var(--bg-card);
  background-color: var(--bg-card);

  z-index: 1;
}
.card.move {
  box-shadow: 1rem 1rem rgba(128, 128, 128, 0.5);
  user-select: none;
}

.card textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;

  cursor: text !important;
}

.card .preview {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  overflow: auto;
  word-wrap: break-word;

  font-size: 0.85rem;
}

.card .preview p {
  line-height: 1rem;
}

.card .preview a {
  color: #0066cc;
  text-decoration: underline;
}
.card .preview a:hover {
  color: #0052a3;
}

.card .preview > * {
  margin-top: 0;
}

.card .preview ul {
  padding-left: 1.5rem;
}

.card .preview img {
  max-width: 100%;
}

.card .resize {
  width: 0.5rem;
  height: 0.5rem;

  position: absolute;
  bottom: 0;
  right: 0;
}

.card button {
  user-select: none;

  position: absolute;
  top: -1rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  border: none;
  background: transparent;
  color: var(--foreground);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;

  z-index: 10;
}
.card button:hover {
  opacity: 1;
}

#settings {
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  cursor: pointer;

  width: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  user-select: none;
}

#settings > * {
  opacity: 0.6;

  width: inherit;
}

#settings svg,
#settings a {
  color: inherit;
}

#settings > *:hover {
  opacity: 1;
}
